.App {
  text-align: center;
}

.App-header {
  background-color: #170A1C;
  background-image: url('assets/imgStarryBackground.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
