.TextDisplay {
    background-color: #CDCCCB;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.TitleContainer {

    padding: 2vmin;
    margin: 2vmin 2vmin 0 2vmin;
    font-size: 5vmin;
}

.BodyContainer {
    text-align: center;
    padding: 2vmin;
    margin: 0 2vmin 2vmin 2vmin;
    font-size: 3vmin;
}