.Timer {
    padding: 2vmin;
    margin: 2vmin;
    width: 60%;
    height: 38vmin;
    font-size: 4vmin;
    background-color: #431E52;
    border-radius: 1em;
}

.Clock {
    font-size: 16vmin;
}

.TimeRemaining {
    font-size: 8vmin;
}